<div class="admin-biaogelist">
    <div class="listbiaoti am-cf">
        <ul class="am-icon-flag on">统计分析</ul>
        <dl class="am-icon-home" style="float: right;"> 当前位置： 统计报表 > <a href="#">数据分析</a></dl>
    </div>
    <div class="fbneirong">
        <div class="alert bg-light px-0" role="alert">
            <div class="admin-index mb-5">
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}">
                    <dt class="qs"><i class="am-icon-users"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">团队数量</dd>
                </dl>
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
                    <dt class="cs"><i class="am-icon-area-chart"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">今日收入</dd>
                </dl>
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}">
                    <dt class="hs"><i class="am-icon-shopping-cart"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">商品数量</dd>
                </dl>
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
                    <dt class="ls"><i class="am-icon-cny"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">全部收入</dd>
                </dl>
            </div>
        </div>
    </div>
</div><div class="admin-biaogelist">
    <div class="listbiaoti am-cf">
        <ul class="am-icon-flag on">统计分析</ul>
        <dl class="am-icon-home" style="float: right;"> 当前位置： 统计报表 > <a href="#">数据分析</a></dl>
    </div>
    <div class="fbneirong">
        <div class="alert bg-light px-0" role="alert">
            <div class="admin-index mb-5">
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}">
                    <dt class="qs"><i class="am-icon-users"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">团队数量</dd>
                </dl>
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
                    <dt class="cs"><i class="am-icon-area-chart"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">今日收入</dd>
                </dl>
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}">
                    <dt class="hs"><i class="am-icon-shopping-cart"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">商品数量</dd>
                </dl>
                <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
                    <dt class="ls"><i class="am-icon-cny"></i></dt>
                    <dd>455</dd>
                    <dd class="f12">全部收入</dd>
                </dl>
            </div>
        </div>
    </div>
</div>