<div class="container-fluid">
    <!-- 顶部Logo -->
    <div class="row">
        <header class="am-topbar admin-header">
            <div class="am-topbar-brand"><img src="assets/i/logo.png"></div>
        </header>
    </div>
    <div class="row">
        <!-- 左侧菜单 -->
        <div class="col-lg-2">
            <app-side-menu></app-side-menu>
        </div>
        <!-- 右侧内容 -->
        <div class="col-lg-10 pl-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>